<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normal/Infrared CCTV Videos</title>
    <style>
        .video-container {
            display: flex;
            justify-content: space-around;
        }
        .video-box {
            width: 48%;
        }
        .description {
            margin-top: 20px;
            padding: 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <h1>Object Detection Using Normal/Infrared CCTV</h1>
    <div class="video-container">
        <div class="video-box">
            <h2>Normal CCTV</h2>
            <img src="{{ url_for('video_feed1') }}" width="100%">
        </div>
        <div class="video-box">
            <h2>Infrared CCTV</h2>
            <img src="{{ url_for('video_feed2') }}" width="100%">
        </div>
    </div>
    <div class="description">
        <h2>About This Demo</h2>
        <p>해당 서비스는 현재 편의를 위해 서비스의 성능을 잘 나타낼 수 있는 동영상을 업로드 하여 시범중입니다. 실제 서비스에서는 CCTV에서 촬영된 영상을 실시간으로 확인하여 사람과 동물 등을 탐지합니다.</p>
    </div>
</body>
</html>
