<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLOv8 Object Detection</title>
    <style>
        .video-container {
            display: flex;
            justify-content: space-around;
        }
        .video-box {
            width: 48%;
        }
    </style>
</head>
<body>
    <h1>YOLOv8 Object Detection</h1>
    <div class="video-container">
        <div class="video-box">
            <h2>Normal CCTV</h2>
            <img src="{{ url_for('video_feed1') }}" width="100%">
        </div>
        <div class="video-box">
            <h2>Infrared CCTV</h2>
            <img src="{{ url_for('video_feed2') }}" width="100%">
        </div>
    </div>
</body>
</html>
